:root {
  --deep-blue: #022c43;
  --ocean-blue: #053f5e;
  --water-light: #64ffda;
}

.ocean-nav {
  background-color: #002366;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.logo {
  color: #000000;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 0.9rem;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--water-light);
  box-shadow: 0 0 8px var(--water-light);
  transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-links a:hover {
  color: #000000;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a i {
  transition: transform 0.3s ease;
}

.nav-links a:hover i {
  transform: translateY(-5px);
  color: var(--water-light);
}

body {
  margin: 0;
  padding: 0;
  color: #002366;
  background-color: #F5F5F5;
}
.text-decoration{
text-align: center;

}
.cadre{
width: 400px;
height: 300px;
margin: 50px auto;
position: relative;
border: 15px solid #002366;
border-radius: 10px;
box-shadow: 0 10px 30px rgba(0,0,0,0,5);
overflow: hidden;
background-color: #eee;
}
.image-slide{
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
opacity: 0;
animation: fondu 5s infinite;
}
@keyframes fondu {
  0%{opacity: 0;}
  10%{opacity: 1;}
  33%{opacity: 1;}
  43%{opacity: 0;}
  100%{opacity: 0;}
}
.text1{
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
text-align: left;
max-width: 400px;
}
.text2{
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
text-align: left;
max-width: 390px;
}