 body {
            font-family: Arial, sans-serif;
            background-color: #f2f6f9;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 900px;
            margin: 40px auto;
            background-color: white;
            border-radius: 8px;
        }
        h1 {
            color: #0077b6;
            text-align:center;
        }
        p {
            line-height:1.7 ;
            color: #333;
            font-size:16px ;
            text-align: justify;
        }
